@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --medium-grey: #6d6e76;
  --secondary-100: #e8e8ea;
  --secondary-200: #dcdddf;
  --secondary-400: #97989f;
  --secondary-50: #f6f6f7;
  --secondary-500: #696a75;
}
.cate-button:hover {
  color: #d4a373;
}
.active {
  color: #d4a373;
}

.nav-item {
  position: relative;
  padding: 0 10px;
}
.nav-item::after {
  content: "";
  position: absolute;
  background-color: #d4a373;
  height: 3px;
  left: 0;
  width: 0px;
  bottom: -10px;
  transition: 0.3s;
}
.nav-item:hover::after {
  width: 100%;
}
.load-more:hover {
  transition: all 0.1s ease-out;
  border: 2px solid #d4a373;
  color: #d4a373;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glass-menu {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.blur-back {
  backdrop-filter: blur(2px);
}
.footer-butt:hover {
  color: #d4a373;
}
.read-more-img {
  transition: all 200ms ease-in;
}
.read-more-img:hover {
  scale: 1.15;
  filter: brightness(50%);
}
.read-more {
  opacity: 0;
  transition: all 200ms ease-in;
}
.read-more-img:hover .read-more {
  opacity: 1;
}
.img-container {
  width: 360px;
  height: 600px;
  overflow: hidden;
}
