@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --medium-grey: #6d6e76;
  --secondary-100: #e8e8ea;
  --secondary-200: #dcdddf;
  --secondary-400: #97989f;
  --secondary-50: #f6f6f7;
  --secondary-500: #696a75;
}
.cate-button:hover {
  color: #d4a373;
}
.active {
  color: #d4a373;
}